*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
nav a{
    color: #4e47ff;
    font-size:34px ;
    font-weight: 900;
    text-decoration: none;
}
button{
    font-size: 16px;
    font-weight: 700;
    background: #4e47ff;
    padding: 13px 36px;
    border-radius: 10px;
    color: white;
    border: none;
}
nav{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background:url("../images/Hero-bg.png") ;
}
.hero{
    padding: 150px 0;
    text-align:center ;
}
.hero h1{
    font-size: 65px;
    font-weight:700 ;
    width: 85%;
    margin:0 auto ;
    padding-bottom: 35px;
}
body{
    background:#f5f8ff ;
}
.actioncotant h2{
    font-size: 42px;
    font-weight: 700;
}
.actioncotant p{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    margin: 23px 0;
padding-right: 240px;
}
.actionhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:100px 0;
}
            
.actionimage img{
 border-radius: 48px;   
}
#productive{
    margin: 116px 0;
}
.productive_main{
    background: rgba(77, 71, 255, 0.10);
    padding: 50px 80px;
    border-radius: 24px;
}
.productive_main h3{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}
.item_card h4{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    
}
.item_card p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.items_head{
    display: flex;
    justify-content: space-around;
}#review{
    margin-bottom: 137px;
}
#review h4{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.review_card{
    background: white;
    padding: 24px;
    border-radius: 14px;
    border: 1px solid #F2EDED;
}
.review_card h5{
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 8px;
}
.review_card p{
    font-size: 16px;
}
.user_profile{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 24px;
}
.photo img{
    border-radius: 50%;
}
.name_dec p{
    color: #757575;
    
}
.name_dec span{
    color: #B3B3B3;
}
.review_head{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.focus_head{
    background: white;
    border-radius: 14px;
    padding: 71px 150px;
}
.focus_head h3{
    text-align: center;
    font-size: 50px;
}
.focus_head p{
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}
.focus_head{
    text-align: center;
}
.focus_head img{
    border-radius: 48px;
    margin-top: 20px;
}
.contact_main{
    padding: 71px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.contact_left,.contact_form{
    width: 50%;
}
.contact_left h2{
    font-size: 97px;
    font-weight: bold;
}
label{
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}

input,textarea{
    width: 100%;
    display: block;
    background: white;
    padding: 20px 32px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    margin-bottom: 20px;
     
}
textarea{
    height: 135px;
}
.contact_form button{
    display: block;
    width: 100%;
}
.contact_form * {
    box-sizing: border-box;
}
footer{
    background: white;
    padding: 100px 0;
    text-align: center;
}
footer h2{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}
footer p{
    color: #8987A1;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 20px;
}
footer li{
    list-style-type: none;
    display: inline-block;
    margin: 0 24px;
}
footer a{
    color: #8987A1;
}
a{
    text-decoration: none;
}








